section.crossover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    float: left;
    max-height: 40px;
    overflow: hidden;
    width: 294px;
    margin: 20px;
    margin-left: 0;
    box-shadow: 0 0 5px #000;
}

section.expanded {
    max-height: 200px;
}

dt {
    text-transform: uppercase;
    font-weight: 700;
    color: #FFF;
    background: #105B63 !important;
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
    height: 40px;
    text-align: center;
    padding-top: 10px !important;
}

dd {
    background: #FFF;
    color: #105B63;
    margin: 0;
    max-height: 20px !important;
    font-size: large !important;
    padding: 5px !important;
}

dd a {
    color: #105B63 !important; 
}

.slide dt::after, .slide dt::before {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    transition: all 0.4s linear;
    content: "";
    width: 2px;
    height: 15px;
    background: #FFD34E;
    position: absolute;
    right: 10px;
    top: 7.5px;
}

.slide dt::after, .slide dt::before {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    transition: all 0.4s linear;
    content: "";
    width: 2px;
    height: 15px;
    background: #FFD34E;
    position: absolute;
    right: 10px;
    top: 7.5px;
}

.slide dt::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.slide dt::before {
    -webkit-transform: translateX(-10px) rotate(-45deg);
    -moz-transform: translateX(-10px) rotate(-45deg);
    -ms-transform: translateX(-10px) rotate(-45deg);
    -o-transform: translateX(-10px) rotate(-45deg);
    transform: translateX(-10px) rotate(-45deg);
}

.slide dt.open::before {
    -webkit-transform: rotate(-760deg);
    -moz-transform: rotate(-760deg);
    -ms-transform: rotate(-760deg);
    -o-transform: rotate(-760deg);
    transform: rotate(-760deg);
}

.slide dt.open::after {
    -webkit-transform: translateX(-10px) rotate(760deg);
    -moz-transform: translateX(-10px) rotate(760deg);
    -ms-transform: translateX(-10px) rotate(760deg);
    -o-transform: translateX(-10px) rotate(760deg);
    transform: translateX(-10px) rotate(760deg);
}