<link rel="stylesheet" href="css/framework7.css">
<link rel="stylesheet" href="style.css">
<div class="pages">
    <div data-page="cart" class="page no-toolbar no-navbar">
        <div class="page-content">

            <div class="navbarpages navbarpagesbg">
                <div class="navbar_left">
                    <div class="logo_text"><a href="index.html">BLIX</a></div>
                </div>
                <div class="navbar_right navbar_right_menu">
                    <a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt=""
                            title="" /></a>
                </div>
                <div class="navbar_right">
                    <a href="#" data-panel="right" class="open-panel"><img src="images/icons/white/user.png" alt=""
                            title="" /></a>
                </div>
                <div class="navbar_right">
                    <a href="cart.html" data-view=".view-main"><img src="images/icons/white/cart.png" alt=""
                            title="" /><span>3</span></a>
                </div>
            </div>

            <div id="pages_maincontent">

                <h2 class="page_title">SHOPPING CART <span>(3 ITEMS)</span></h2>


                <div class="page_single layout_fullwidth_padding">

                    <div class="cartcontainer">
                        <div class="cart_item" id="cartitem1">
                            <div class="item_title"><span>01.</span> Bicycle Pedal Driven</div>
                            <div class="item_price">$100</div>
                            <div class="item_thumb"><a href="shop-item.html" class="close-panel"><img
                                        src="images/photos/photo1.jpg" alt="" title="" /></a></div>
                            <div class="item_qnty">
                                <form id="myform" method="POST" action="#">
                                    <label>QUANTITY</label>
                                    <input type="button" value="-" class="qntyminus" field="quantity" />
                                    <input type="text" name="quantity" value="1" class="qnty" />
                                    <input type="button" value="+" class="qntyplus" field="quantity" />
                                </form>
                            </div>
                            <a href="#" class="item_delete" id="cartitem1"><img src="images/icons/black/trash.png"
                                    alt="" title="" /></a>
                        </div>

                        <div class="cart_item" id="cartitem2">
                            <div class="item_title"><span>02.</span> Yellow Car </div>
                            <div class="item_price">$1200</div>
                            <div class="item_thumb"><a href="shop-item.html" class="close-panel"><img
                                        src="images/photos/photo2.jpg" alt="" title="" /></a></div>
                            <div class="item_qnty">
                                <form id="myform" method="POST" action="#">
                                    <label>QUANTITY</label>
                                    <input type="button" value="-" class="qntyminus" field="quantity2" />
                                    <input type="text" name="quantity2" value="1" class="qnty" />
                                    <input type="button" value="+" class="qntyplus" field="quantity2" />
                                </form>
                            </div>
                            <a href="#" class="item_delete" id="cartitem2"><img src="images/icons/black/trash.png"
                                    alt="" title="" /></a>
                        </div>

                        <div class="cart_item" id="cartitem3">
                            <div class="item_title"><span>03.</span> Summer T-Shirt</div>
                            <div class="item_price">$20</div>
                            <div class="item_thumb"><a href="shop-item.html" class="close-panel"><img
                                        src="images/photos/photo3.jpg" alt="" title="" /></a></div>
                            <div class="item_qnty">
                                <form id="myform" method="POST" action="#">
                                    <label>QUANTITY</label>
                                    <input type="button" value="-" class="qntyminus" field="quantity3" />
                                    <input type="text" name="quantity3" value="1" class="qnty" />
                                    <input type="button" value="+" class="qntyplus" field="quantity3" />
                                </form>
                            </div>
                            <a href="#" class="item_delete" id="cartitem3"><img src="images/icons/black/trash.png"
                                    alt="" title="" /></a>
                        </div>

                        <div class="carttotal">
                            <div class="carttotal_row">
                                <div class="carttotal_left">CART TOTAL</div>
                                <div class="carttotal_right">$ 1,320.00</div>
                            </div>
                            <div class="carttotal_row">
                                <div class="carttotal_left">VAT (15%)</div>
                                <div class="carttotal_right">$ 198.00</div>
                            </div>
                            <div class="carttotal_row_last">
                                <div class="carttotal_left">TOTAL</div>
                                <div class="carttotal_right">$ 1,518.00</div>
                            </div>
                        </div>

                        <a href="checkout.html" class="button_full btyellow">PROCEED TO CHECKOUT</a>

                    </div>


                </div>

            </div>


        </div>
    </div>
</div>