<link rel="stylesheet" href="css/framework7.css">
<link rel="stylesheet" href="style.css">
<div class="pages">
	<div data-page="categories" class="page pagepanel">
		<div class="page-content">
			<div class="subnav_header"><a href="index.html"><img src="images/icons/white/back.png" alt=""
						title="" /><span>BACK TO MAIN MENU</span></a></div>
			<nav class="main_nav_underline">
				<ul>

					<li><a href="shop.html" class="close-panel" data-view=".view-main"><img
								src="images/icons/white/car.png" alt="" title="" /><span>Cars</span></a></li>
					<li><a href="shop.html" class="close-panel" data-view=".view-main"><img
								src="images/icons/white/bus.png" alt="" title="" /><span>Buses</span></a></li>
					<li><a href="shop.html" class="close-panel" data-view=".view-main"><img
								src="images/icons/white/bike.png" alt="" title="" /><span>Bikes</span></a></li>

					<li><a href="shop.html" class="close-panel" data-view=".view-main"><img
								src="images/icons/white/drink.png" alt="" title="" /><span>Drinks</span></a></li>
					<li><a href="shop.html" class="close-panel" data-view=".view-main"><img
								src="images/icons/white/food.png" alt="" title="" /><span>Food</span></a></li>
					<li><a href="shop.html" class="close-panel" data-view=".view-main"><img
								src="images/icons/white/orders.png" alt="" title="" /><span>Clothes</span></a></li>

					<li><a href="shop.html" class="close-panel" data-view=".view-main"><img
								src="images/icons/white/rocket.png" alt="" title="" /><span>Rockets</span></a></li>
					<li><a href="shop.html" class="close-panel" data-view=".view-main"><img
								src="images/icons/white/briefcase.png" alt="" title="" /><span>Accessories</span></a>
					</li>
					<li><a href="shop.html" class="close-panel" data-view=".view-main"><img
								src="images/icons/white/gift.png" alt="" title="" /><span>Gifts</span></a></li>
					<li class="subnav"><a href="subcategories.html" data-view=".view-subnav"><img
								src="images/icons/white/categories.png" alt="" title="" /><span>Third sublevel
								menu</span></a></li>


				</ul>
			</nav>
		</div>
	</div>
</div>