<link rel="stylesheet" href="css/framework7.css">
<link rel="stylesheet" href="style.css">
<div class="pages">
  <div data-page="contact" class="page no-toolbar no-navbar">
    <div class="page-content">

      <div class="navbarpages navbarpagesbg">
        <div class="navbar_left">
          <div class="logo_text"><a href="index.html">Socles</a></div>
        </div>
        <div class="navbar_right navbar_right_menu">
          <a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt="" title="" /></a>
        </div>
        <div class="navbar_right">
          <a href="#" data-panel="right" class="open-panel"><img src="images/icons/white/user.png" alt=""
              title="" /></a>
        </div>
        <div class="navbar_right">
          <a href="cart.html" data-view=".view-main"><img src="images/icons/white/cart.png" alt=""
              title="" /><span>3</span></a>
        </div>
      </div>

      <div id="pages_maincontent">

        <h2 class="page_title">CONTACT</h2>

        <div class="page_single layout_fullwidth_padding">

          <h2 id="Note"></h2>
          <div class="contactform">
            <form class="" id="ContactForm" method="post" action="">
              <label>Nom:</label>
              <input type="text" name="ContactName" id="ContactName" value="" class="form_input required" />
              <label>Courriel:</label>
              <input type="text" name="ContactEmail" id="ContactEmail" value="" class="form_input required email" />
              <label>Message:</label>
              <textarea name="ContactComment" id="ContactComment" class="form_textarea textarea required" rows=""
                cols=""></textarea>
              <input type="submit" name="submit" class="form_submit" id="submit" value="Envoyer" />
              <input class="" type="hidden" name="to" value="youremail@yourwebsite.com" />
              <input class="" type="hidden" name="subject" value="Contacf form message" />
              <label id="loader" style="display:none;"><img src="images/loader.gif" alt="Loading..."
                  id="LoadingGraphic" /></label>
            </form>
          </div>

          <h3>Notre emplacement</h3>

          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55897.434673808195!2d10.391582979566572!3d5.48179401718984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x105f9a969870caef%3A0x4ff58699c7d49808!2sBafoussam%2C+Cameroun!5e0!3m2!1sfr!2sca!4v1557179831786!5m2!1sfr!2sca"
            width="100%" height="200" frameborder="0" style="border:0"></iframe>

          <blockquote>
            Adresse: Bafoussam,Cameroun <br />
          </blockquote>

          <a href="tel:+ 237 675877398" class="button_full btyellow external">Appelez nous!</a>

          <div class="clear"></div>
        </div>

      </div>
    </div>
  </div>
</div>