<link rel="stylesheet" href="css/framework7.css">
<link rel="stylesheet" href="style.css">
<div class="pages">
  <div data-page="features" class="page no-toolbar no-navbar">
    <div class="page-content">

      <div class="navbarpages navbarpagesbg">
        <div class="navbar_left">
          <div class="logo_text"><a href="index.html">Socles</a></div>
        </div>
        <div class="navbar_right navbar_right_menu">
          <a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt="" title="" /></a>
        </div>
        <div class="navbar_right">
          <a href="#" data-panel="right" class="open-panel"><img src="images/icons/white/user.png" alt=""
              title="" /></a>
        </div>
        <div class="navbar_right">
          <a href="cart.html" data-view=".view-main"><img src="images/icons/white/cart.png" alt=""
              title="" /><span>3</span></a>
        </div>
      </div>

      <div id="pages_maincontent">

        <h2 class="page_title"><b>Les différentes catégories de chiens</b></h2>

        <div class="page_single layout_fullwidth_padding">

          <ul class="features_list_detailed">

            <li>
              <div class="feat_small_icon"><img src="images/categorie_1.jpeg" alt="" title="" /></div>
              <div class="feat_small_details">
                <h4><a href="about.html">Catégorie 1 : Chiens d’attaque</a></h4>
                <a href="about.html">Il s’agit des chiens non inscrits à un livre généalogique reconnu par le ministère
                  en charge de l’agriculture</a>
              </div>
            </li>

            <li>
              <div class="feat_small_icon"><img src="images/categorie_2.jpeg" alt="" title="" /></div>
              <div class="feat_small_details">
                <h4><a href="photos.html">Catégorie 2 : Chiens de garde et de défense</a></h4>
                <a href="photos.html">Chiens inscrits au LOF ou bénéficiant d’un certificat de naissance retraçant les
                  origines.</a>
              </div>
            </li>

            <li>
              <div class="feat_small_icon"><img src="images/categorie_3.jpeg" alt="" title="" /></div>
              <div class="feat_small_details">
                <h4><a href="blog.html">Catégorie 3 : Autres chiens</a></h4>
                <a href="blog.html">Toutes les races de chiens. Hors chiens compris en catégories 1 et 2.</a>
              </div>
            </li>

            <!-- <li>
              <div class="feat_small_icon"><img src="images/icons/black/shop.png" alt="" title="" /></div>
              <div class="feat_small_details">
                <h4><a href="shop.html">Shop</a></h4>
                <a href="shop.html">Mobile eccomerce solution. Layout designs to create a mobile shop with categories
                  and shopping cart integrated.</a>
              </div>
            </li>

            <li>
              <div class="feat_small_icon"><img src="images/icons/black/user.png" alt="" title="" /></div>
              <div class="feat_small_details">
                <h4> <a href="#" data-popup=".popup-login" class="open-popup">User login</a></h4>
                <a href="#" data-popup=".popup-login" class="open-popup">Static login and register HTML forms with
                  validation.</a>
              </div>
            </li>

            <li>
              <div class="feat_small_icon"><img src="images/icons/black/lock.png" alt="" title="" /></div>
              <div class="feat_small_details">
                <h4><a href="#" data-panel="right" class="open-panel">User account</a></h4>
                <a href="#" data-panel="right" class="open-panel">Create an user account page with profile image and
                  custom menu.</a>
              </div>
            </li>

            <li>
              <div class="feat_small_icon"><img src="images/icons/black/tabs.png" alt="" title="" /></div>
              <div class="feat_small_details">
                <h4> <a href="tabs.html">Responsive tabs</a></h4>
                <a href="tabs.html">Add responsive tabs to any page or section in your app.</a>
              </div>
            </li>

            <li>
              <div class="feat_small_icon"><img src="images/icons/black/toggle.png" alt="" title="" /></div>
              <div class="feat_small_details">
                <h4><a href="toggle.html">Toggles</a></h4>
                <a href="toggle.html">Add content with toggles will save a lot of space in your app layout.</a>
              </div>
            </li>

            <li>
              <div class="feat_small_icon"><img src="images/icons/black/tables.png" alt="" title="" /></div>
              <div class="feat_small_details">
                <h4> <a href="tables.html">Tables</a></h4>
                <a href="tables.html">Create a table section for your services and price plans.</a>
              </div>
            </li>

            <li>
              <div class="feat_small_icon"><img src="images/icons/black/slider.png" alt="" title="" /></div>
              <div class="feat_small_details">
                <h4><a href="about.html">Images slider</a></h4>
                <a href="about.html">Create an image slider from your photos.</a>
              </div>
            </li>

            <li>
              <div class="feat_small_icon"><img src="images/icons/black/contact.png" alt="" title="" /></div>
              <div class="feat_small_details">
                <h4><a href="contact.html">Contact form</a></h4>
                <a href="contact.html">Receive messages from your clients using the allready build in php/ajax contact
                  form.</a>
              </div>
            </li>

            <li>
              <div class="feat_small_icon"><img src="images/icons/black/form.png" alt="" title="" /></div>
              <div class="feat_small_details">
                <h4><a href="form.html">Custom form inputs</a></h4>
                <a href="form.html">Build custom forms with inputs, selects, radio, checkboxes.</a>
              </div>
            </li>

            <li>
              <div class="feat_small_icon"><img src="images/icons/black/message.png" alt="" title="" /></div>
              <div class="feat_small_details">
                <h4><a href="chat.html">Chat messages layout</a></h4>
                <a href="chat.html">Create your custom chat room using the messages layout included.</a>
              </div>
            </li>

            <li>
              <div class="feat_small_icon"><img src="images/icons/black/love.png" alt="" title="" /></div>
              <div class="feat_small_details">
                <h4><a href="#" data-popup=".popup-social" class="open-popup">Social share</a></h4>
                <a href="#" data-popup=".popup-social" class="open-popup">Allow users to follow you on your social
                  websites.</a>
              </div>
            </li>

            <li>
              <div class="feat_small_icon"><img src="images/icons/black/phone.png" alt="" title="" /></div>
              <div class="feat_small_details">
                <h4><a href="tel:123456" class="external">Call Us button</a></h4>
                <a href="tel:123456" class="external">Create a direct call button for mobile with a phone number.</a>
              </div>
            </li>

            <li>
              <div class="feat_small_icon"><img src="images/icons/black/logout.png" alt="" title="" /></div>
              <div class="feat_small_details">
                <h4><a href="http://sindevo.com" class="external">External links</a></h4>
                <a href="http://sindevo.com" class="external">To add an external link just use class="external" to the
                  link code. </a>
              </div>
            </li>
            <li>
              <div class="feat_small_icon"><img src="images/icons/black/tabs.png" alt="" title="" /></div>
              <div class="feat_small_details">
                <h4><a href="page-with-centered-header.html">Page with centered header</a></h4>
                <a href="page-with-centered-header.html">Custom page with centered header title, left back icon and
                  right menu icon.</a>
              </div>
            </li> -->

          </ul>
        </div>


      </div>


    </div>
  </div>
</div>