<link rel="stylesheet" href="css/framework7.css">
<link rel="stylesheet" href="style.css">
<div class="pages">
    <div data-page="shop" class="page no-toolbar no-navbar">
        <div class="page-content">

            <div class="navbarpages navbarpagesbg">
                <div class="navbar_left">
                    <div class="logo_text"><a href="index.html">Socles</a></div>
                </div>
                <div class="navbar_right navbar_right_menu">
                    <a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt=""
                            title="" /></a>
                </div>
                <div class="navbar_right">
                    <a href="#" data-panel="right" class="open-panel"><img src="images/icons/white/user.png" alt=""
                            title="" /></a>
                </div>
                <div class="navbar_right">
                    <a href="cart.html" data-view=".view-main"><img src="images/icons/white/cart.png" alt=""
                            title="" /><span>3</span></a>
                </div>
            </div>

            <div id="pages_maincontent">

                <h2 class="page_title">Produit</h2>

                <div class="page_single layout_fullwidth_padding">

                    <ul class="shop_items">

                        <li>
                            <div class="shop_thumb"><a href="shop-item.html"><img src="images/husky.jpeg" alt=""
                                        title="" /></a></div>
                            <div class="shop_item_details">
                                <h4><a href="shop-item.html">Husky</a></h4>
                                <div class="shop_item_price">$100</div>
                                <div class="item_qnty_shop">
                                    <form id="myform" method="POST" action="#">
                                        <input type="button" value="-" class="qntyminusshop" field="quantity" />
                                        <input type="text" name="quantity" value="1" class="qntyshop" />
                                        <input type="button" value="+" class="qntyplusshop" field="quantity" />
                                    </form>
                                </div>
                                <a href="cart.html" id="addtocart">AJOUTER</a>
                                <a href="#" data-popup=".popup-social" class="open-popup shopfav"><img
                                        src="images/icons/black/love.png" alt="" title="" /></a>
                            </div>
                        </li>

                        <li>
                            <div class="shop_thumb"><a href="shop-item.html"><img src="images/bulldog.jpeg" alt=""
                                        title="" /></a></div>
                            <div class="shop_item_details">
                                <h4><a href="shop-item.html">Bulldog</a></h4>
                                <div class="shop_item_price">$1200</div>
                                <div class="item_qnty_shop">
                                    <form id="myform" method="POST" action="#">
                                        <input type="button" value="-" class="qntyminusshop" field="quantity2" />
                                        <input type="text" name="quantity2" value="1" class="qntyshop" />
                                        <input type="button" value="+" class="qntyplusshop" field="quantity2" />
                                    </form>
                                </div>
                                <a href="cart.html" id="addtocart">AJOUTER</a>
                                <a href="#" data-popup=".popup-social" class="open-popup shopfav"><img
                                        src="images/icons/black/love.png" alt="" title="" /></a>
                            </div>
                        </li>

                        <li>
                            <div class="shop_thumb"><a href="shop-item.html"><img src="images/benji.jpeg" alt=""
                                        title="" /></a></div>
                            <div class="shop_item_details">
                                <h4><a href="shop-item.html">Benji</a></h4>
                                <div class="shop_item_price">$1200</div>
                                <div class="item_qnty_shop">
                                    <form id="myform" method="POST" action="#">
                                        <input type="button" value="-" class="qntyminusshop" field="quantity3" />
                                        <input type="text" name="quantity3" value="1" class="qntyshop" />
                                        <input type="button" value="+" class="qntyplusshop" field="quantity3" />
                                    </form>
                                </div>
                                <a href="cart.html" id="addtocart">AJOUTER</a>
                                <a href="#" data-popup=".popup-social" class="open-popup shopfav"><img
                                        src="images/icons/black/love.png" alt="" title="" /></a>
                            </div>
                        </li>

                        <li>
                            <div class="shop_thumb"><a href="shop-item.html"><img src="images/doberman.jpeg" alt=""
                                        title="" /></a></div>
                            <div class="shop_item_details">
                                <h4><a href="shop-item.html">Doberman</a></h4>
                                <div class="shop_item_price">$175</div>
                                <div class="item_qnty_shop">
                                    <form id="myform" method="POST" action="#">
                                        <input type="button" value="-" class="qntyminusshop" field="quantity4" />
                                        <input type="text" name="quantity4" value="1" class="qntyshop" />
                                        <input type="button" value="+" class="qntyplusshop" field="quantity4" />
                                    </form>
                                </div>
                                <a href="cart.html" id="addtocart">AJOUTER</a>
                                <a href="#" data-popup=".popup-social" class="open-popup shopfav"><img
                                        src="images/icons/black/love.png" alt="" title="" /></a>
                            </div>
                        </li>

                        <li>
                            <div class="shop_thumb"><a href="shop-item.html"><img src="images/rottweiller.jpeg" alt=""
                                        title="" /></a></div>
                            <div class="shop_item_details">
                                <h4><a href="shop-item.html">Rottweiller</a></h4>
                                <div class="shop_item_price">$435</div>
                                <div class="item_qnty_shop">
                                    <form id="myform" method="POST" action="#">
                                        <input type="button" value="-" class="qntyminusshop" field="quantity5" />
                                        <input type="text" name="quantity5" value="1" class="qntyshop" />
                                        <input type="button" value="+" class="qntyplusshop" field="quantity5" />
                                    </form>
                                </div>
                                <a href="cart.html" id="addtocart">AJOUTER</a>
                                <a href="#" data-popup=".popup-social" class="open-popup shopfav"><img
                                        src="images/icons/black/love.png" alt="" title="" /></a>
                            </div>
                        </li>

                    </ul>

                    <div class="shop_pagination">
                        <a href="shop.html" class="prev_shop">PREV PAGE</a>
                        <span class="shop_pagenr">1/37</span>
                        <a href="shop-page2.html" class="next_shop">NEXT PAGE</a>
                    </div>


                </div>

            </div>


        </div>
    </div>
</div>