<link rel="stylesheet" href="css/framework7.css">
<link rel="stylesheet" href="style.css">
<div class="pages">
<div data-page="subcategories" class="page pagepanel">
<div class="page-content">
   <div class="subnav_header"><a href="categories.html" data-view=".view-subnav"><img src="images/icons/white/back.png" alt="" title="" /><span>BACK TO 2 SUBLEVEL MENU</span></a></div>
			<nav class="main_nav_underline">
			<ul>

			<li><a href="shop.html" class="close-panel" data-view=".view-main"><img src="images/icons/white/car.png" alt="" title="" /><span>Subcategory 01</span></a></li>
			<li><a href="shop.html" class="close-panel" data-view=".view-main"><img src="images/icons/white/bus.png" alt="" title="" /><span>Subcategory 02</span></a></li>
			<li><a href="shop.html" class="close-panel" data-view=".view-main"><img src="images/icons/white/bike.png" alt="" title="" /><span>Subcategory 03</span></a></li>
			<li><a href="shop.html" class="close-panel" data-view=".view-main"><img src="images/icons/white/drink.png" alt="" title="" /><span>Subcategory 04</span></a></li>
			<li><a href="shop.html" class="close-panel" data-view=".view-main"><img src="images/icons/white/food.png" alt="" title="" /><span>Subcategory 05</span></a></li>

			
			</ul>
			</nav>
</div>	
</div>
</div>
